{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_course_overview/main

    This template renders the main content area for the course_overview block

    Example context (json):
    {
        "tabs" : {
            "0" : {
                "tab" : "favourites",
                "show" : "show active",
                "data" : {
                    "0" : {
                        "id" : "6",
                        "category" : "2",
                        "sortorder" : "50004",
                        "shortname" : "small",
                        "fullname" : "Test course: S",
                        "idnumber" : "",
                        "startdate" : "1564700400",
                        "visible" : "1",
                        "groupmode" : "0",
                        "groupmodeforce" : "0",
                        "cacherev" : "1566436895",
                        "lastaccess" : "1566288403",
                        "link" : {
                            "scheme" : "http",
                            "host" : "localhost",
                            "port" : "",
                            "user" : "",
                            "pass" : "",
                            "path" : "/course/view.php",
                            "slashargument" : "",
                            "anchor" : null,
                            "params" : { "id" : "6" }
                        },
                        "categories" : "",
                        "favouritelink" : {
                            "scheme" : "http",
                            "host" : "localhost",
                            "port" : "",
                            "user" : "",
                            "pass" : "",
                            "path" : "/my/index.php",
                            "slashargument" : "",
                            "anchor" : null,
                            "params" : { "unfavourite" : "6" }
                        },
                        "favouriteicon" : "fa-star",
                        "favouritealt" : "Remove favourite",
                        "hasoverviews" : false
                    }
                },
                "haspaging" : false,
                "pagingbar" : ""
            },
            "1" : {
                "tab" : "courses",
                "show" : "",
                "data" : {
                    "0" : {
                        "id" : "6",
                        "category" : "2",
                        "sortorder" : "50004",
                        "shortname" : "small",
                        "fullname" : "Test course: S",
                        "idnumber" : "",
                        "startdate" : "1564700400",
                        "visible" : "1",
                        "groupmode" : "0",
                        "groupmodeforce" : "0",
                        "cacherev" : "1566436895",
                        "lastaccess" : "1566288403",
                        "link" : {
                            "scheme" : "http",
                            "host" : "localhost",
                            "port" : "",
                            "user" : "",
                            "pass" : "",
                            "path" : "/course/view.php",
                            "slashargument" : "",
                            "anchor" : null,
                            "params" : {"id" : "6"}
                        },
                        "categories" : "",
                        "favouritelink" : {
                            "scheme" : "http",
                            "host" : "localhost",
                            "port" : "",
                            "user" : "",
                            "pass" : "",
                            "path" : "/my/index.php",
                            "slashargument" : "",
                            "anchor" : null,
                            "params" : {"unfavourite" : "6"}
                        },
                        "favouriteicon" : "fa-star",
                        "favouritealt" : "Remove favourite",
                        "hasoverviews" : false
                    },
                    "1" : {
                        "id" : "5",
                        "category" : "2",
                        "sortorder" : "50003",
                        "shortname" : "2019-PHY1SCA(BE-1/BU-1)",
                        "fullname" : "2019-PHY1SCA(BE-1/BU-1) - PRINCIPLES OF PHYSICS A",
                        "idnumber" : "",
                        "startdate" : "1294837200",
                        "visible" : "1",
                        "groupmode" : "2",
                        "groupmodeforce" : "0",
                        "cacherev" : "1566436895",
                        "lastaccess" : "1566342687",
                        "link" : {
                            "scheme" : "http",
                            "host" : "localhost",
                            "port" : "",
                            "user" : "",
                            "pass" : "",
                            "path" : "/course/view.php",
                            "slashargument" : "",
                            "anchor" : null,
                            "params" : {"id" : "5"}
                        },
                        "categories" : "",
                        "favouritelink" : {
                            "scheme" : "http",
                            "host" : "localhost",
                            "port" : "",
                            "user" : "",
                            "pass" : "",
                            "path" : "/my/index.php",
                            "slashargument" : "",
                            "anchor" : null,
                            "params" : {"favourite" : 5}
                        },
                        "favouriteicon" : "fa-star-o",
                        "favouritealt" : "Make favourite",
                        "hasoverviews" : true,
                        "overviews" : {
                            "0" : {
                                "coursename" : "2019-PHY1SCA(BE-1/BU-1) - PRINCIPLES OF PHYSICS A",
                                "visible" : "1",
                                "activity" : "assign",
                                "text" : "<div class='assign overview'><div class='name'>Assignment: <a title='Assignment' href='http://localhost/mod/assign/view.php?id=737'>Fav Assignment</a></div><div class='info'>Due date: Wednesday, 28 August 2019, 12:00 AM</div><div class='details'>My submission: Not submitted yet, Not graded</div></div>",
                                "overviewid" : "assign_5",
                                "icon" : "<img class='icon' alt='You have Assignments that need attention' title='You have Assignments that need attention' src='http://localhost/theme/image.php/latrobeboost/mod_assign/1566436895/icon' />"
                            }
                        }
                    }
                },
                "haspaging" : false,
                "pagingbar" : ""
            }
        },
        "isediting" : false,
        "help" : "<a class='btn btn-link p-0' role='button' data-container='body' data-toggle='popover' data-placement='right' data-content='&lt;div class=&quot;no-overflow&quot;&gt;&lt;p&gt;&#039;Customise this page&#039;, then drag-and-drop to reorder subjects. Click activity icons for overview&lt;/p&gt; &lt;/div&gt;' data-html='true' tabindex='0' data-trigger='focus'><i class='icon fa fa-question-circle text-info fa-fw' alt='Help with this' title='Help with this' aria-label='Help with this'></i></a>",
        "viewingfavourites" : true,
        "select" : "<div class='singleselect d-inline-block'><form method='get' action='http://localhost/my/index.php' class='form-inline' id='single_select_f5d5e01e0c896f5'><input type='hidden' name='sesskey' value='6SXMrD1e64'><select  id='single_select5d5e01e0c896f6' class='custom-select singleselect' name='sortorder'><option  value='0' >Drag-and-drop order</option><option  value='1' >Subject full name</option><option  value='2' >Subject short name</option><option  value='3' selected>Subject id</option></select><noscript><input type='submit' class='btn btn-secondary' value='Go'></noscript></form></div>"
    }
}}

<form action="/course/search.php" id="coursesearch" method="get" class="form-inline">
    <fieldset class="coursesearchbox invisiblefieldset">
        <label for="coursesearchbox">Search Subjects</label>
        <input id="coursesearchbox" name="search" size="30" value="" class="form-control" type="text">
        <button class="btn btn-secondary" type="submit">Go</button>
    </fieldset>
</form>

<div id="block-course-overview-{{uniqid}}" class="block-course-overview" data-region="course-overview">

    {{# isediting }}
        <div class="alert alert-secondary">
            {{# str }}sortorder, block_course_overview{{/ str }} {{{ select }}}
        </div>
    {{/ isediting }}

    <ul id="block-course-overview-view-choices-{{ uniqid }}" class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link {{# viewingfavourites }}active{{/ viewingfavourites }}" href="#favourites" role="tab" data-toggle="tab" data-tabname="favourites">
                {{# str }}favourites, block_course_overview{{/ str }}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{^ viewingfavourites }}active{{/ viewingfavourites }}" href="#courses" role="tab" data-toggle="tab" data-tabname="courses">
                {{# str }}courses, block_course_overview{{/ str }}
            </a>
        </li>
    </ul>

    <div class="tab-content">
        {{# tabs }}
            <div class="tab-pane {{ show }}" id="{{ tab }}" role="tabpanel">
                {{> block_course_overview/courselist }}
            </div>
        {{/ tabs }}
    </div>

    <div class="dialogue_container" style="display: none">
        {{# tabs }}
            {{# data }}
                {{# hasoverviews }}
                    {{# overviews }}
                        <div class="dialogue" id="{{ overviewid }}">
                            <h3>{{ coursename }}</h3>
                            <div class="activity_overviews">
                                {{{ text }}}
                            </div>
                        </div>
                    {{/ overviews }}
                {{/ hasoverviews }}
            {{/ data }}
        {{/ tabs }}
    </div>

    <div class="overview-help">
        {{{ help }}}
    </div>
</div>

{{# js }}
    require(['jquery', 'block_course_overview/popup'], function($, Popup) {
        Popup.init({{ viewingfavourites }});
    });
{{/ js }}
{{# isediting }}
    {{# js }}
        require(['jquery', 'block_course_overview/edit'], function($, Edit) {
            Edit.init();
        });
    {{/ js }}
{{/ isediting }}
